@model HashInput;

@{
	Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
	<title>Bruteforce SHA-256</title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>

<h5 class="text-black-50 text-center m-2 p-2">INPUT SHA-256</h5>

<form class="m-2" method="post" asp-action="BruteforceResult">
	<div asp-validation-summary="All"></div>
	<div class="form-group">
		<label asp-for="Hashes">Input your hashes here</label>
		<textarea class="form-control" rows="5" asp-for="Hashes"></textarea>
	</div>

	<div class="form-group">
		<label asp-for="FilePath">Or input file path</label>
		<input asp-for="FilePath" class="form-control"/>
	</div>

	<div class="form-group">
		<label asp-for="ThreadsCount">Threads count</label>
		<input asp-for="ThreadsCount" type="number" min="1" max="100" class="form-control"/>
	</div>

	<div class="text-center button-block">
		<button class="btn btn-primary">Bruteforce</button>
	</div>
</form>

</body>
</html>
